# --- 1. FILE BẢO MẬT (TUYỆT ĐỐI KHÔNG PUSH) ---
.env
.env.local
config.py
secrets/
*.pem
*.key

# --- 2. PYTHON & MÔI TRƯỜNG ẢO ---
__pycache__/
*.py[cod]
venv/
env/
.pytest_cache/

# --- 3. DỮ LIỆU & LOGS (NẶNG & RÁC) ---
logs/
*.log
data/
postgres_data/
airflow_db_data/
airflow/logs/
airflow/plugins/__pycache__/
speed_log.csv

# --- 4. CẤU HÌNH IDE (MÁY CÁ NHÂN) ---
.vscode/
.idea/
*.DS_Store

# --- 5. SPARK & JAVA RÁC ---
metastore_db/
derby.log
spark-warehouse/
checkpoint/